/* Error: Duplicate key.
 *     ,
 * 18  |     border: none,
 *     |     ====== first key
 * ... |
 * 22  |     border: 1px solid var(--grey),
 *     |     ^^^^^^ second key
 *     '
 *   assets\scss\style.scss 22:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Duplicate key.\a     \2577 \a 18  \2502      border: none,\d\a     \2502      \2501 \2501 \2501 \2501 \2501 \2501  first key\a... \2502 \a 22  \2502      border: 1px solid var(--grey),\d\a     \2502      ^^^^^^ second key\a     \2575 \a   assets\\scss\\style.scss 22:5  root stylesheet";
}
